.naptar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 600px;
}

.ora {
    grid-area: 1 / 1 / 13 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12,1fr);
}


.napok {
    grid-area: 1 / 2 / 2 / 9;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr;
}

.mezok {
    grid-area: 2 / 2 / 13 / 9;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(11, 1fr);
  
}

.mezok div,.ora div,.napok div{
    border: 1px solid #959595;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url(/kepek/hatter.png);
    background-position:center;
    background-size:cover;
    box-sizing: border-box;
}

nav{
    padding-top: 20px;
}

.nav-link{
    color: #fff;
    font-size: 20px;
    padding: 30px;
    font-weight: bold;
    text-transform:uppercase;
}

h3{
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    padding-bottom: 10px;

}

h1{
    color: #fff;
    font-family: 'Brush Script MT', cursive;
    font-size: 66px;
    padding-bottom: 40px;

}

h2{
    color:#835a27;
    text-align: center;
    margin-top: 50px;
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    letter-spacing: 5px;
}
.bekezdes{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 250px;
}

#navgomb{
  
    width: 130px;
    margin: auto;
    height: 50px;
    border-radius: 15px;
    background-color: #f6d7b0a6 ;
    color: #fff;
    border: none;
    
    
    
}

span{
    color: #f6d7b0;
}

.nav-link:hover{
    color:#f6d7b0a6 ;
}



